In [128]:
import numpy as np
import pandas as pd
import re

In [55]:
a = pd.DataFrame(
    {"count" : [5,0,15,27,28,2],
     "items" : ['pear','peach','plum','grape','pear','peach'],
     "name"  : ['Pedro', 'Pedro', 'Pedro', 'Ramon', 'Ramon', 'Ferrero']},
    index=[0,1,2,3,4,5])

In [8]:
a

   count  items     name
0      5   pear    Pedro
1      0  peach    Pedro
2     15   plum    Pedro
3     27  grape    Ramon
4     28   pear    Ramon
5      2  peach  Ferrero

In [16]:
a.iloc[1:3, [1,2]]

   items   name
1  peach  Pedro
2   plum  Pedro

In [28]:
a.loc[(a['name']=='Pedro') & (a['items'] != 'plum') & (0 < a['count']) & (a['count'] < 10)]

   count items   name
0      5  pear  Pedro

In [31]:
a[(a['name']=='Pedro') & (a['items'] != 'plum') & (0 < a['count']) & (a['count'] < 10)]

   count items   name
0      5  pear  Pedro

In [32]:
a[(a.name=='Pedro') & (a.items != 'plum') & (0 < a.count) & (a.count < 10)]

TypeError: '<' not supported between instances of 'int' and 'method'

In [38]:
a[a['items'].apply(lambda x: re.match(r'^pe', x))]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [41]:
a[np.where([re.search(r'^pe', x) for x in a['items']], True, False)]

   count  items     name
0      5   pear    Pedro
1      0  peach    Pedro
4     28   pear    Ramon
5      2  peach  Ferrero

In [42]:
a[a['items'].apply(lambda x: x[:2]=='pe')]

   count  items     name
0      5   pear    Pedro
1      0  peach    Pedro
4     28   pear    Ramon
5      2  peach  Ferrero

In [43]:
a[a['items'].str.contains(r'^pe', na=False)]

   count  items     name
0      5   pear    Pedro
1      0  peach    Pedro
4     28   pear    Ramon
5      2  peach  Ferrero

In [44]:
c = pd.DataFrame({'name': ['Pedro', 'Ramon', 'Ferrero'], 'tag': ['mass', 'premium', 'mass']})

In [45]:
a['tag'] = a['name'].map(dict(zip(c['name'], c['tag'])))

In [50]:
a['tag'] = a['name'].replace(dict(zip(c['name'], c['tag'])))

In [56]:
a = pd.merge(a, c, on='name', how='left')

In [60]:
str = ['黄焖鸡 (人民广场) ', ' (奶茶) 一点点', '麦当劳(虹桥路)']

In [68]:
[re.sub(pattern='[ ((].*[)) ]$', repl='', string=i) for i in str]

['黄焖鸡', ' (奶茶) 一点点', '麦当劳']

In [69]:
t = dict()

In [79]:
t.update(wei=65)

In [80]:
t

{'wei': 65}

In [113]:
b = pd.DataFrame(
    {"name"  : ['Pedro', 'Pedro', 'Pedro', 'Ramon', 'Ramon', 'Ferrero'],
     "items" : ['pear','peach','plum','grape','pear','peach']})

In [114]:
b = b.groupby('name').sum()

In [115]:
b

                 items
name
Ferrero          peach
Pedro    pearpeachplum
Ramon        grapepear

In [116]:
import os

In [117]:
os.chdir('/home/kevinxu/')

In [118]:
a

   count  items     name      tag
0      5   pear    Pedro     mass
1      0  peach    Pedro     mass
2     15   plum    Pedro     mass
3     27  grape    Ramon  premium
4     28   pear    Ramon  premium
5      2  peach  Ferrero     mass

In [120]:
a[a['name']=='Pedro']

   count  items   name   tag
0      5   pear  Pedro  mass
1      0  peach  Pedro  mass
2     15   plum  Pedro  mass

In [127]:
list(np.unique(a['name'].to_numpy()))

['Ferrero', 'Pedro', 'Ramon']

In [135]:
a.head(10).to_csv('Head.csv', header=False)

In [136]:
os.getcwd()

'/home/kevinxu'